* {
  color: #2d3c49;
  font-family: sans-serif;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
h3 {
  color: #7d97ad;
}
header {
  width: 100%;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
main {

}
#logo {
  width: 50%;
}
#name {
  width: 50%;
  text-align: right;
}
.hero {
  width: 100%;
}
.work_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.work {
  width: 300px;
  text-align: center;
}
footer {
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 480px) {

}
