/* add your CSS here */
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 1200px) {

}
img {
  max-width: 100%;
}
header {
  background-color: blue;
  width: 100%;
}
main {

}
.hero {
  background-color: green;
  width: 100%;
}
.work_container {
  background-color: black;
}
.work {
  background-color: red;
  float: left;
  width: 33.3%;
}
footer {
  background-color: yellow;
  width: 100%;
}
