/* add your CSS here */
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 1200px) {

}
#container {

}
img {
  max-width: 100%;
}
header {
  background-color: blue;
  width: 100%;
}
main {

}
.hero {
  background-color: green;
  width: 100%;
}
.work_container {
  background-color: gray;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.work {
  background-color: red;
  width: 300px;
  height: 200px;
}
footer {
  background-color: yellow;
  width: 100%;
}
